<div class="social-login flex flex-col justify-center">

    <div class="divider flex flex-row items-center justify-center gap-2 w-full">
        <div class="flex-1"><mat-divider></mat-divider></div>
        <span class="px-2 text-xs">or Continue with</span>
        <div class="flex-1"><mat-divider></mat-divider></div>
      </div>
      

    <div class="social flex flex-row gap-10 justify-center mt-2">
        <div class="google">
            <button class="w-[177px] flex flex-row justify-center" mat-stroked-button>
                <img src="assets/google.png" alt="Google">
                <span class="font-bold text-lg">Google</span>
            </button>           
        </div>

        <div class="facebook">
            <button class="w-[177px] flex flex-row justify-center" mat-stroked-button>
                <img src="assets/fb.png" alt="Google">
                <span class="font-bold text-lg">Facebook</span>
            </button>           
        </div>
    </div>
    
</div>