h1 {
    font-size: 24px;
    font-weight: 800;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.mat-divider {
    border-top-color: #fff !important ;
    border-width: 1px !important;
    width: 80%;
}