<div class="header h-[60px] flex flex-row items-center">

    <a href="">
        <div class="logo">
            <img class="h-24 w-32" src="assets/logo.png" alt="">
        </div>
    </a>
    <div class="search-bar">
        <mat-form-field class="w-full">
            <mat-label>Search For Any Product</mat-label>
            <mat-icon matPrefix fontSet="material-icons">search</mat-icon>
            <input matInput type="text" placeholder="Search..." />
        </mat-form-field>
    </div>
    
</div>