:host ::ng-deep .mat-mdc-text-field-wrapper {
    border: 2px solid black !important;
}
.mat-icon {
    margin-top: -7px;
}

.mat-divider {
    height: 100%;
    width: 2px;
    background-color: black;
}