<swiper-container autoplay="true" delay="2000" draggable="true" pagination="true" pagination-clickable="true">

    <swiper-slide lazy="true">
        <img src="assets/slide1.jpg" alt="slide 1" loading="lazy">
    </swiper-slide>

    <swiper-slide lazy="true">
        <img src="assets/slide2.jfif" alt="slide 2" loading="lazy">
    </swiper-slide>

    <swiper-slide lazy="true">
        <img src="assets/slide3.png" alt="slide 3" loading="lazy">
    </swiper-slide>

    <swiper-slide lazy="true">
        <img src="assets/slide4.jpg" alt="slide 4" loading="lazy">
    </swiper-slide>

</swiper-container>