<app-navbar></app-navbar>
<app-slider></app-slider>

<div class="container mx-auto px-4 mt-6">

    <div class="content flex flex-row justify-between mt-2 px-12">
        <div class="heading">
            <h1 class="text-2xl font-bold">Which product you looking for ??</h1>
        </div>

        <div class="button h-8">
            <button mat-flat-button>
                <mat-icon>grid_view</mat-icon>See More
            </button>
        </div>
    </div>

    <div class="flex flex-wrap justify-center gap-2 mt-4">
        <div *ngFor="let miniCategory of miniCategories"
            class="category h-56 w-40 flex flex-col justify-center items-center gap-4">

            <div class="img h-32 w-32 bg-gray-400 flex justify-center items-center rounded-full overflow-hidden">
                <img [src]="miniCategory.Image" alt="category image">
            </div>

            <div class="name">
                <span class="text-lg font-normal">{{ miniCategory.categoryName }}</span>
            </div>

        </div>
    </div>


    <div class="For-you flex flex-row justify-between mt-2 px-12">
        <div class="heading">
            <h1 class="text-2xl font-bold">For You</h1>
        </div>
        </div>
</div>